@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Create items here</h2>
        <input type="text" id="txt-new-data" />
        <button id="btn-add">Add</button>
    </div>
    <div class="col-md-3">
        <h2>Items</h2>
        <ul id="offline-items">
            @*<li>Content goes here</li>*@
        </ul>
    </div>
</div>
